[
    EntityData(
        marker: U64Marker(0),
        components: (None, None, None, None, Some(Health(18)), None, Some(Name(
            raw_name: "rustysword",
            kind: NonUnique,
        )), Some(OwnedData(U64Marker(2))), None, Some(Wieldable(
            damage: 2,
        )), None),
    ),
    EntityData(
        marker: U64Marker(1),
        components: (None, None, None, None, Some(Health(90)), None, Some(Name(
            raw_name: "bloodsword",
            kind: Unique,
        )), Some(OwnedData(U64Marker(5))), None, Some(Wieldable(
            damage: 8,
        )), None),
    ),
    EntityData(
        marker: U64Marker(2),
        components: (None, None, None, Some(AttackData(
            strength: 2,
            wielding: Some(U64Marker(0)),
        )), Some(Health(20)), None, Some(Name(
            raw_name: "Wigfrid",
            kind: Unique,
        )), None, None, None, Some(Playable)),
    ),
    EntityData(
        marker: U64Marker(3),
        components: (None, None, None, Some(AttackData(
            strength: 6,
            wielding: None,
        )), Some(Health(35)), None, Some(Name(
            raw_name: "Mondhart",
            kind: Unique,
        )), None, None, None, Some(Playable)),
    ),
    EntityData(
        marker: U64Marker(4),
        components: (Some(AggressiveBehaviour), Some(AggressiveBehaviour), None, Some(AttackData(
            strength: 1,
            wielding: None,
        )), Some(Health(12)), None, Some(Name(
            raw_name: "goblin",
            kind: NonUnique,
        )), None, None, None, None),
    ),
    EntityData(
        marker: U64Marker(5),
        components: (None, None, Some(NeutralData(
            target: None,
        )), Some(AttackData(
            strength: 1,
            wielding: Some(U64Marker(1)),
        )), Some(Health(38)), None, Some(Name(
            raw_name: "merchant",
            kind: NonUnique,
        )), None, None, None, None),
    ),
]